{% extends "padre.html" %}

{% load static %}

{% block tituloPagina %}
Acerca de nosotros
{% endblock %}

{% block mensajeHeader %}
{% endblock %}

{% block cuerpoPagina %}

<div class="container bg-white pt-2">
            <p>
                <h5>
                    El Blog de Apolo es un proyecto creado por Facundo Mercado para el curso
                    de CoderHouse sobre introduccion a Python. Es una web estilo Blog, con los tipicos
                    elementos de una pagina de este arquetipo, como la presencia de articulos, de
                    usuarios, de un sistema de mensajeria, etc.
                </h5>
            </p>

</div>
{% endblock %}