{% extends "padre.html" %}

{% load static %}

{% block tituloPagina %}
Mensajes
{% endblock %}
{% block cuerpoPagina %}
    <h3>Mensajes del canal:</h3>
    {% for mensaje in object.canalmensaje_set.all %}

        {% if request.user == mensaje.usuario %}
            <p>
                <strong>
                    {{mensaje.texto}}
                </strong>
                <span>
                    Lo enviaste tu
                </span>
            </p>
        {% else %}
            <p>
                {{mensaje.texto}}
                <span>
                    Enviado por: {{mensaje.usuario}}
                </span>
            </p>
        {% endif %}
    {% endfor %}
    <h3>Usuarios del canal:</h3>
    {% for usuarios in object.canalusuario_set.all %}
        <p>
            {{usuarios.usuario}}
        </p>
    {% endfor %}
    <form action="{{ request.path }}" method="POST"> {% csrf_token %}
        {{form.as_p}}

        <button type="submit">
            Enviar
        </button>
    </form>

{% endblock %}